*{
    margin:0;
    padding:0;
}

body{
    background-color:aquamarine;
    color:blueviolet;
    text-align:center;

}
 .container{
    height: 70vh;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:1.5vmin;
}
 .game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:1.5vmin;

}
.box{
    height:18vmin;
    width: 18vmin;
    box-shadow:0 0 1 ;
    font-size:8vmin;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: bisque;
    border-radius:1rem;
    color:rgb(32, 118, 193);

}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: bisque;
    color:rgb(32, 118, 193);
    border-radius:1rem;

}
#msg{
    background-color: antiquewhite;
}
.hide{
    display:none;
}